<div class="center-align-div">
    <div class="block-div" ng-controller="OrgsController">
        <form name="boardCreateForm" novalidate>
            <h4>Create Board</h4>

            <div class="block-input-label">
                <label id="login-email-label" for="board-name">Board Name:</label>
                <input id="board-name" name="board" ng-model="board" required/>
                <button ng-click="addBoard()">Add board</button>
            </div>
        </form>
        <hr>
        <div>
            <h4>Your Boards</h4>

            <ul ng-repeat="board in boards">
                <a ng-click="">{{board.name}}</a>
                <button ng-click="deleteBoard($index)">Delete board</button>
            </ul>
        </div>
        <hr>
        <h4>Members</h4>
        <div style="overflow-y: auto; max-height: 200px">
            <ul ng-repeat="user in users">
                {{user.username}}
                <button ng-click="addMember($index)" ng-hide="isMember($index)">Add Member</button>
                <button ng-click="removeMember($index)" ng-show="isMember($index) && notOwner($index)">Remove Member</button>
                <button ng-click="addAdmin($index)" ng-hide="isAdmin($index)">Add Admin</button>
                <button ng-click="removeAdmin($index)" ng-show="isAdmin($index) && notOwner($index)">Remove Admin</button>
            </ul>
        </div>
    </div>
</div>
